<div class ="media">
<%= content_tag :div, class: 'media', id: "comment-#{comment.id}" do %>
  <%= link_to '#', class: 'pull-left' do %>
    <%= image_tag(comment.user.avatar.small.url) if comment.user.avatar? %>
  <% end %>
  <div class="media-body">
    <small>
      <%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago
      <% if policy(comment).destroy? %>
        | <%= link_to "Delete", [comment.post, comment], method: :delete, remote: true %>
      <% end %>
    </small>

    <% if current_user.id == comment.user_id %>
      <%= content_tag :div, class: 'media', id: "comment-update-#{comment.id}" do %>
     <%= render partial: 'comments/update', locals: { post: comment.post, comment: comment } %>
      <% end %>
    <% else %>
    <p><%= comment.body %></p>
    <% end %>
  </div>
  <% end %>
</div>

