<% provide(:title, 'My Todo List') %>
<h1>User Profile</h1>

  <table class="table table-striped table-bordered">
     <tr>
       <td align="center"><strong>Name</strong></td>
       <td align="center"><strong><%= @user.name %></strong></td>
     </tr>

    <tr>
       <td align="center"><strong>Email</strong></td>
       <td align="center"><strong><%= @user.email %></strong></td>
   </tr>

    <tr>
      <td align="center" colspan="2"><strong>My Address</strong></td>
    </tr>
   <tr>
    <td colspan="2" align=center>
       <div class="field"><%= @address.address1 %> <%= @address.address2 %><br />
        <%= @address.city %> <%= @state.abbname %> <%= @address.zipcode %>  
       </div> 
    </td>
  </tr>

  <tr>
      <td align="center"><strong> </strong></td>
      <td align="center"><strong></strong></td>
  </tr>
  </table>

