<h1>Contacts</h1>
<div class="col-md-4">
    <% if policy(Topic.new).create? %>
      <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
    <% end %>
</div>

  <div class="row">
    <div class="col-md-8">
     <p>[<%= @contacts_count %> Contacts]</p>
    </div>
   </div>
    <% @contacts.each do |contact| %>
          <div class="row" class="table table-hover">
            <div class="col-md-3"><%= link_to contact.firstname, contact %></div>
            <div class="col-md-3"><%= contact.email %></div>
            <div class="col-md-3"><%= contact.address1 %></div>
        </div>
    <% end %>
  <div class="row">
      <%= will_paginate @contacts %>
  </div>



