<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h3><%= @contact.firstname %>
      <%= @contact.lastname %></h3>
    </div>
</div>
      <%= render partial: 'contacts/form', local: {contact: @contact_info} %>
      <%= render partial: 'addresses/form', local: {contact: @contact, address: @address} %>
      <%= render partial: 'orders/order', local: {order: @order} %>
      <#= render partial: 'orders/list', local: {orders: @orders} %>


</div>
