<h1>Admin | User Edit</h1>

<%= form_for @user, url: users_admin_path(@user) do |f|%>
    <%= f.text_field :name %>
    <%= f.text_field :email %>
    <%= f.hidden_field :id, :value => @user.id %>
    <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>


