<% provide(:title, 'User Address list') %>
<h1>My  Lists</h1>

<%= link_to "Add New Address", new_user_address_path, class: "btn btn-primary btn-xs active" %>
<table class="table table-striped table-bordered">
   <tr>
   <td align="center"><strong>Description</strong></td>                                                                         
   <td align="center"><strong>Created Date</strong></td>                                                                           
   <td align="center"><strong>Complete</strong></td>                                                                            
   </tr>      
    <% @addresses.each do |address| %>
  <tr>
  <td>
    <%= hidden_field :id, :value => address.id %>
    <%= address.address1 %> 
    <%= address.address2 %> 
    <%= address.city %> 
    <%= address.state_id %> 
    <%= address.zipcode %> 
  </td>
  <td>
    <%= link_to "Edit", edit_user_address_path(:id => address.id), class: "btn btn-default btn-xs active" %> 
  </td>
  <td>
    <%= address.created_at %>
    </td>
    <td>
    <!--%= link_to "Edit", edit_user_address_path(address), method: "get", class: "btn btn-default btn-xs active"  %-->
    <!--%= link_to "Delete", user_address_path(address), method: :delete, data: {confirm: "You sure?"}, class: "btn btn-warning btn-xs active" %-->
 </td>
</tr>
<% end %>
</table>

