<% provide(:title, 'My addresses') %>
<h1>My addresses</h1>


<%= link_to "Add new address", new_user_address_path, class: "btn btn-primary btn-xs active" %>
<%= link_to "Edit", edit_user_address_path(:id => @address.id), class: "btn btn-default btn-xs active" %>

<div class="table-responsive">
<table class="table">
  <tr>
    <td>Address1 : </td>
    <td><%= @address.address1 %></td>
 </tr>

  <tr>                                                                                                                 
    <td>Address2 : </td>                                                                                         
    <td><%= @address.address2 %></td>                                                                            
  </td>  

  <tr>                                                                                                                 
    <td>City : </td>
    <td><%= @address.city %></td>                                                                            
  </tr>  

  <tr>                                                                                                                 
    <td>State/Province : </td>                                                                                   
    <td><%= @state.name %></td>                                                                            
  </tr>  

  <tr>                                                                                                                 
    <td>Zipcode : </td>                                                                                         
    <td><%= @address.zipcode %></td>                                                                            
  </tr>  
</table>
</div>
    <!--%= link_to "See Todos", user_addresses_path(:id => @address.id), class: "btn btn-default btn-xs active" %> 
    <= link_to "Edit", user_addresses_path(@address), method: "get", class: "btn btn-default btn-xs active"  %>
    <= link_to "Delete", user_addresses_path(@address), method: :delete, data: {confirm: "You sure?"}, class: "btn btn-warning btn-xs active" %-->


